

@{
    ViewBag.Title = "汽修系统 | 供应商管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/carModel/carModelManage.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="form-group pull-left option-group">
            <button id="btn_add" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;新增</button>&nbsp;
            <button id="btn_edit" type="button" class="k-button k-primary k-state-disabled" disabled="disabled"><i class="fa fa-edit"></i>&nbsp;编辑</button>&nbsp;
            <button id="btn_delete" type="button" class="k-button k-state-disabled" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;删除</button>
        </div>
        <div class="form-group pull-left option-group">
            <button id="btn_export" type="button" class="k-button"><i class="fa fa-file-excel-o"></i>&nbsp;导出</button>
        </div>
        <div class="form-group pull-right">
            <div id="simpleSearchContainer"> 
                <input id="simpleSearchContent" class="k-textbox" />
                <button id="btn_simpleSearch" type="button" class="k-button k-primary"><i class="fa fa-search"></i></button>    
            </div>
        </div>
    </div>
    <div class="row">
        <div id="grid"></div>
    </div>
</div>
<script>
    var selectedRow = {};
    $(document).ready(function () {
        $("#btn_add").kendoButton();
        $("#btn_edit").kendoButton();
        $("#btn_delete").kendoButton();
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("Supplier_GridDataSource")"
                },
                schema: {
                    model: {
                        id: "Id" 
                    }
                }
            },
            excel: {
                fileName: "供应商信息.xlsx",
                allPages: true
            },
            height: 550,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            selectable: "multiple",
            persistSelection: true,
            change: onChange,
            columns: [
                {
                    field: "Name",
                    title: "供应商名称"
                },
                {
                    field: "Code",
                    title: "代码"
                },
                {
                    field: "ContactName",
                    title: "联系人"
                },
                {
                    field: "MobilePhone",
                    title: "手机"
                },
                {
                    field: "Wechat",
                    title: "微信"
                },
                {
                    field: "QQ",
                    title: "QQ"
                },
                {
                    field: "FixPhone",
                    title: "固定电话"
                },
                {
                    field: "Fax",
                    title: "传真"
                },
                {
                    field: "MajorOrigin",
                    title: "主营范畴"
                },
                {
                    field: "Address",
                    title: "地址"
                },
                {
                    field: "FixPhone",
                    title: "固定电话"
                },
                {
                    field: "Description",
                    title: "备注"
                }
            ]
        });
    });
    //添加
    $("#btn_add").click(function() {
        window.location.href = "@Url.Action("Add")";
    });
    //更新
    $("#btn_edit").click(function() {
        window.location.href = "@Url.Action("Update")" + "?supplierId=" + selectedRow.Id;
    });
    //删除
    $("#btn_delete").click(function() {
        swal({
            position: "center",
            type: "warning",
            title: selectedRow.FullName,
            text: "确定删除该供应商吗？删除后不可逆",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '我确定',
            cancelButtonText: "取消"
        }).then(function(res) {
            console.log(res);
            if (res.value) {
                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        supplierId: selectedRow.Id
                    },
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "该供应商已被删除",
                                showConfirmButton: false,
                                timer: 1000
                            });
                            setTimeout(function() {
                                    window.location.reload();
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: res.Msg,
                                confirmButtonText: '知道了'
                            });
                        }
                    }
                });
            }
        });
    });
    $("#btn_export").click(function() {
        var grid = $("#carModelGrid").data("kendoGrid");
        grid.saveAsExcel();
    });
    //简单搜索
    $("#btn_simpleSearch").click(function() {
        var keyword = $("#simpleSearchContent").val();
        $.ajax({
            url: "@Url.Action("Query")",
            dataType: "json",
            data: {
                keyword:keyword
            },
            success: function(data) {
                var dataSource = new kendo.data.DataSource({
                    data: data
                });
                var grid = $("#grid").data("kendoGrid");
                grid.setDataSource(dataSource);
            }
        });
    });
</script>
<script>
    function onChange() {
        selectedRow = this.dataItem(this.select()[0]);
        console.log(selectedRow);

        $("#btn_edit").data("kendoButton").enable(true);
        $("#btn_delete").data("kendoButton").enable(true);
    }
</script>

