@using AMS.Model.dto
@{
    ViewBag.title = "汽车维修管理系统 | 首页";
    var currentUser = Session["LogUser"] as UserDto;
}
<link href="~/Style/home/home.css" rel="stylesheet" />
<div class="row">
    <div id="welcome" class="col-xs-12">
        下午好，亲爱的朋友！
    </div>
</div>
<div class="row">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="green ace-icon fa fa-home bigger-120"></i>
                    首页
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#repair">
                    <i class="green ace-icon fa fa-gavel bigger-120"></i>
                    维修流程
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#warehouse">
                    <i class="green ace-icon fa fa-tachometer bigger-120"></i>
                    库房流程
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <ul class="menu-container">
                    <li id="addMenuContainer" class="menu-item-container">
                        <div class="menu-item" id="addMenu">
                            <span class="fa fa-plus fa-3x"></span>
                        </div>
                    </li>
                </ul>
                <div class="info-list">
                    <div id="notice">
                        <div class="row title">
                            <span class="pull-left">公告</span>
                            <span id="moreNotice" class="pull-right">更多<i class="fa fa-angle-double-right fa-lg"></i></span>
                        </div>
                        <ul>
                            <li>
                                <i class="notice-icon fa fa-volume-up"></i>
                                <span class="notice-content text-ellipsis">【重要通知】明天发放年终奖</span>
                                <span class="pull-right">2018-04-01</span>
                            </li>
                            <li>
                                <i class="notice-icon fa fa-volume-up"></i>
                                <span class="notice-content text-ellipsis">【重要通知】明天发放年终奖</span>
                                <span class="pull-right">2018-04-01</span>
                            </li>
                            <li>
                                <i class="notice-icon fa fa-volume-up"></i>
                                <span class="notice-content text-ellipsis">【重要通知】明天发ffffffffffffffffff4343434343434343434344444444444444444444444444444ffffffffffffff放年终奖</span>
                                <span class="pull-right">2018-04-01</span>
                            </li>
                        </ul>
                    </div>
                    <div id="businessSituation">
                        <div class="row title">
                            <span class="pull-left">今日运营概况</span>
                        </div>
                        <ul>
                            <li class="row">
                                <span class="col-xs-4">进厂台次</span>
                                <span>0</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">维修产值</span>
                                <span>0</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">挂账金额</span>
                                <span>0666</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">会员新增</span>
                                <span>0</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">会员充值</span>
                                <span>0</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">库存金额</span>
                                <span>0666</span>
                            </li>
                            <li class="row">
                                <span class="col-xs-4">采购金额</span>
                                <span>0666</span>
                            </li>
                        </ul>
                    </div>
                    <div id="orgHope">
                        <div class="row title">
                            <div class="bottom-line">
                                <span class="pull-left">企业寄语</span>
                                <a id="writeOrgHope" class="pull-right">
                                    <i id="write" class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <p id="orgHopeContent">@(currentUser?.OrgHope ?? "")</p>
                    </div>
                </div>
            </div>
            <div id="repair" class="tab-pane fade">
                <p>维修流程引导</p>
            </div>
            <div id="warehouse" class="tab-pane fade">
                <p>库房流程引导</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content text-right">
            <span class="">
                <span class="blue bolder">基于ASP.NET MVC的汽修系统&nbsp;v1.0</span>
            </span>
        </div>
    </div>
</div>
<script>
    //获取企业寄语
    $.get("@Url.Action("GetOrgHope")", function (res) {
        $("#orgHopeContent").html(res.Data.orgHope);
    });
    //获取用户快捷菜单
    $.get("@Url.Action("GetAllQuickMenu")",function(res) {
        for (var t in res) {
            var menus = res[t].AllThirdLevelMenu;
            for (var i in menus) {
                if (menus[i].IsSelected) {
                    var content = '<li class="menu-item-container">' +
                        '              <div class="menu-item" data-url='+menus[i].Url+'>' +
                        '                   <img src="' +
                        menus[i].QuickMenuIcon +
                        '"/>' +
                        '                   <p>' +
                        menus[i].Name +
                        '</p>' +
                        '                   <i data-menuId='+menus[i].MenuId+' class="delete-item fa fa-trash fa-lg"></i>' +
                        '              </div>' +
                        '         </li>';
                    $(content).insertBefore($("#addMenuContainer"));
                }
            }
        }
        //跳转快捷菜单
        $("#home .menu-container").on("click", ".menu-item", function() {
            var url = $(this).attr("data-url");
            if (!url) {
                return;
            }
            window.location.href = url;
        });
        //删除用户快捷菜单
        $("#home .menu-container").on("click", ".delete-item", function(e) {
            var menuId = $(this).attr("data-menuId");
            e.stopPropagation();
            var _this = this;
            $.ajax({
                url: "@Url.Action("DeleteUserQuickMenu")",
                type: "POST",
                dataType: "json",
                data: {
                    menuId:menuId
                },
                success: function(res) {
                    if (res.Success) {
                        $(_this).parent().parent().animateCss('bounceOut',
                            function() {
                                $(_this).parent().parent().remove();
                            });
                    } else {
                        swal({
                            position: 'center',
                            type: 'error',
                            title: '删除失败',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });
        });
    });
    //添加快捷菜单
    $("#addMenu").click(function() {
        $('body').append("<div id='addWindow'></div>");
        var addWindow = $("#addWindow").kendoWindow({
            width: $(window).width() - 300,
            height: $(window).height() - 100,
            title: "快捷菜单设置",
            content: "@Url.Action("QuickMenuPartialView")",
            animation: {
                close: {
                    effects: "fade:out"
                }
            },
            visible: false,
            modal: true,
            resizable: false,
            close: function(e) {
                this.destroy();
            }
        });
        addWindow.data("kendoWindow").center().open();
    });
    //企业寄语
    $("#writeOrgHope").click(function () {
        var orgHopeContent = $("#orgHopeContent").html();
        var orgHopeWindowContent = "<div id='orgHopeWindow'>" +
            "<textarea id='orgHopeContainer'>"+orgHopeContent+"</textarea>" +
            "<div class='row'>" +
            "<button id='btn_orgHopeCancel' type='button' class='btn btn-xs btn-light pull-right'>" +
            "<i class='ace-icon fa fa-reply'></i>&nbsp;返回" +
            "</button>" +
            "<button id='btn_orgHopeSave' type='button' class='btn btn-xs btn-primary pull-right'>" +
            "<i class='ace-icon fa fa-save'></i>&nbsp;保存" +
            "</button>&nbsp;"+
            "</div>" +
            "</div>";
        $('body').append(orgHopeWindowContent);
        var orgHopeWindow = $("#orgHopeWindow").kendoWindow({
            width: "500px",
            height: "200px",
            title: "企业寄语",
            animation: {
                close: {
                    effects: "fade:out"
                }
            },
            visible: false,
            modal: true,
            resizable: false,
            close: function(e) {
                this.destroy();
            }
        });
        orgHopeWindow.data("kendoWindow").center().open();
        //保存
        $("#btn_orgHopeSave").click(function() {
            var orgHopeContent = $("#orgHopeContainer").val().trim();
            console.log(orgHopeContent);
            $.ajax({
                url: "@Url.Action("UpdateOrgHope")",
                type: "POST",
                dataType: "json",
                data: {
                    orgHopeContent:orgHopeContent
                },
                success: function(res) {
                    if (res.Success) {
                        $("#orgHopeContent").html(orgHopeContent);
                        $("#orgHopeWindow").data("kendoWindow").destroy();
                    }
                }
            });
        });
        //返回
        $("#btn_orgHopeCancel").click(function() {
            $("#orgHopeWindow").data("kendoWindow").destroy();
        });
    });
</script>