
@{
    ViewBag.Title = "增加一个配件档案";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/partsDictionary/add.css" rel="stylesheet" />
<script src="~/Scripts/kendo/kendo.web.ext.js"></script>
<div id="addApp" class="form">
    <div class="options container-fluid">
        <div class="row">
            <button @@click="save" class="k-button k-primary marginRight5px"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button @@click="goBack" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="baseinfo container-fluid">
        <h4 class="marginBottom30px">基础信息</h4>
        <hr />
        <div class="form-group row">
            <label class="required col-xs-2 text-right">配件编码</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="code" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">配件名称</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">配件类型</label>
            <div class="col-xs-4">
                <div id="dropDownTreeView" class="full-width"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">计量单位</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="measurementUnit" />
            </div>
        </div>
    </div>
    <div id="carModelChooseBox" class="advancedinfo container-fluid">
        <h4 class="marginBottom30px">适用车型</h4>
        <hr />
        <div v-for="(item,index) in suitedCarModel" class="form-group row carmodel-item">
            <label class="col-xs-2 text-right">适用车型{{index+1}}</label>
            <div class="col-xs-4 carModelChooseContainer">
                <div class="brandBox">
                    <input :id="item.carBrandUiId" class="k-textbox" />
                </div>
                <div class="seriesBox">
                    <input :id="item.carSeriesUiId" class="k-textbox" />
                </div>
                <div class="modelBox">
                    <input :id="item.carModelUiId" class="k-textbox" />
                </div>
            </div>
            <div class="pull-left delete-item">
                <i v-if="index>0" @@click="deleteCurrenCarModel(index)" class="fa fa-times-circle-o"></i>
            </div>
        </div>
        <div id="addCarBox" class="form-group row">
            <label class="col-xs-2 text-right"></label>
            <div class="col-xs-4">
                <button @@click="addCarDropDownList" class="k-button k-primary marginRight5px"><i class="fa fa-plus"></i>&nbsp;增加</button>
            </div>
        </div>
    </div>
    <div class="advancedinfo container-fluid">
        <h4 class="marginBottom30px">价格</h4>
        <hr />
        <div class="form-group row">
            <label class="required col-xs-2 text-right">供应商价格</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="supplierPrice" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">零售价</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="retailPrice" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">批发价</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="tradePrice" />
            </div>
        </div><div class="form-group row">
            <label class="required col-xs-2 text-right">调货价格</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="adjustPrice" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">索赔价格</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="claimPrice" />
            </div>
        </div>
    </div>
    <div class="advancedinfo container-fluid">
        <h4 class="marginBottom30px">其它信息</h4>
        <hr />
        <div class="form-group row">
            <label class="required col-xs-2 text-right">品牌</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="brandName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">规格</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="specifications" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">生产地</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="producedAddress" />
            </div>
        </div><div class="form-group row">
            <label class="required col-xs-2 text-right">标签</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="label" />
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">备注</label>
            <div class="col-xs-4">
                <textarea class="full-width" v-model.trim="description"></textarea>
            </div>
        </div>
    </div>
    <div class="options container-fluid">
        <div class="row">
            <button @@click="save" class="k-button k-primary marginRight5px"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button @@click="goBack" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
</div>
<script id="treeview-template" type="text/kendo-ui-template">
    <span data-partsTypyId="#: item.Id #">#: item.Name #</span>
</script>
<script>
    $(document).ready(function () {
        var dropDownTreeView = $("#dropDownTreeView").kendoExtDropDownTreeView({
            treeview: {
                dataSource: new kendo.data.HierarchicalDataSource({
                    transport: {
                        read: {
                            url:"@Url.Action("PartsType_DropDownTreeViewDataSource")"
                        }
                    },
                    schema: {
                        model: {
                            children:"SubPartsType"
                        }
                    }
                }),
                dataTextField: "Name",
                dataValueField: "Id",
                template: kendo.template($("#treeview-template").html())
            }
        }).data("kendoExtDropDownTreeView");
        dropDownTreeView.bind("select", function (e) {
            var partsTypeId = $(e.node).children("div").children("span").children("span").attr("data-partsTypyId");
            addVm.partsTypeId = partsTypeId;
        });
    });
</script>
<script>
    function onBrandChange() {
        var selectedItem = this.dataItem();
        var uiId = $(this.element)[0].id;
        var index = uiId.substring(uiId.length - 1);
        var carSeries = $("#series"+index).data("kendoDropDownList");
        var carModel = $("#model"+index).data("kendoDropDownList");
        if (!selectedItem.Name) {
            carSeries.select(0);
            carSeries.enable(false);
            carModel.select(0);
            carModel.enable(false);
            return;
        }
        carSeries.enable(true);
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("CarSeries_DropDownListDataSource")",
                    dataType: "json",
                    data: function() {
                        return {
                            brandName:selectedItem.Name
                        };
                    }
                }
            }
        });
        carSeries.setDataSource(dataSource);
    }
    function onSeriesChange() {
        var selectedItem = this.dataItem();
        var uiId = $(this.element)[0].id;
        var index = uiId.substring(uiId.length - 1);
        var carModel = $("#model"+index).data("kendoDropDownList");
        if (!selectedItem.Name) {
            carModel.select(0);
            carModel.enable(false);
            return;
        }
        carModel.enable(true);
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("CarModel_DropDownListDataSource")",
                    dataType: "json",
                    data: function() {
                        return {
                            seriesName:selectedItem.Name
                        };
                    }
                }
            }
        });
        carModel.setDataSource(dataSource);
    }
</script>
<script>
    var brandDropDownListConfig = function() {
        return {
            optionLabel: "选择品牌",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("CarBrand_DropDownListDataSource")"
                    }
                }
            },
            change: onBrandChange
        };
    };
    var seriesDropDownListConfig = function () {
        return {
            enable: false,
            optionLabel: "选择车系",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: [],
            change: onSeriesChange
        };
    };
    var modelDropDownListConfig = function () {
        return {
            enable: false,
            optionLabel: "选择车型",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: []
        };
    };
</script>
<script>
    var addVm = new Vue({
        el: "#addApp",
        data: {
            code: "",
            name: "",
            partsTypeId: "",
            measurementUnit: "",
            suitedCarModel: [],
            partsDictionarySuitedCarModels:[],
            supplierPrice: "",
            retailPrice: "",
            tradePrice: "",
            adjustPrice: "",
            claimPrice: "",
            brandName: "",
            specifications: "",
            producedAddress: "",
            label: "",
            description: "",
            initComponentLength:0
        },
        created: function () {
            var count = this.suitedCarModel.length;
            var tempCarModel = {
                carBrandUiId: "brand" + count,
                carSeriesUiId: "series" + count,
                carModelUiId: "model" + count
            };
            this.suitedCarModel.push(tempCarModel);
        },
        mounted: function () {
            var newVal = this.suitedCarModel;
            var i = newVal.length - 1;
            $("#" + newVal[i].carBrandUiId).kendoDropDownList(brandDropDownListConfig());
            $("#" + newVal[i].carSeriesUiId).kendoDropDownList(seriesDropDownListConfig());
            $("#" + newVal[i].carModelUiId).kendoDropDownList(modelDropDownListConfig());
            this.initComponentLength++;
        },
        updated: function () {
            console.log("触发更新");
            if (this.suitedCarModel.length < this.initComponentLength) {
                this.initComponentLength--;
                return;
            }
            else if (this.suitedCarModel.length > this.initComponentLength) {
                var newVal = this.suitedCarModel;
                var i = newVal.length - 1;
                $("#" + newVal[i].carBrandUiId).kendoDropDownList(brandDropDownListConfig());
                $("#" + newVal[i].carSeriesUiId).kendoDropDownList(seriesDropDownListConfig());
                $("#" + newVal[i].carModelUiId).kendoDropDownList(modelDropDownListConfig());
                this.initComponentLength++;
            }
        },
        methods: {
            goBack: function() {
                window.history.back();
            },
            addCarDropDownList: function () {
                var count = this.suitedCarModel.length;
                var tempCarModel = {
                    carBrandUiId: "brand"+count,
                    carSeriesUiId: "series"+count,
                    carModelUiId: "model"+count
                };
                this.suitedCarModel.push(tempCarModel);
            },
            deleteCurrenCarModel: function(index) {
                this.suitedCarModel.splice(index,1);
            },
            save: function () {
                var _this = this;
                for (var i = 0; i < _this.suitedCarModel.length; i++) {
                    var item = _this.suitedCarModel[i];
                    var brandItem = $("#" + item.carBrandUiId).data("kendoDropDownList").dataItem();
                    var seriesItem = $("#" + item.carSeriesUiId).data("kendoDropDownList").dataItem();
                    var modelItem = $("#" + item.carModelUiId).data("kendoDropDownList").dataItem();
                    if (brandItem.Id || seriesItem.Id || modelItem.Id) {
                        _this.partsDictionarySuitedCarModels.push({
                            BrandId: brandItem.Id,
                            SeriesId: seriesItem.Id,
                            ModelId: modelItem.Id
                        });
                    }
                }
                var partsDictionary = {
                    Code: _this.code,
                    Name: _this.name,
                    PartsTypeId: _this.partsTypeId,
                    MeasurementUnit: _this.measurementUnit,
                    PartsDictionarySuitedCarModelDtos: _this.partsDictionarySuitedCarModels,
                    SupplierPrice: _this.supplierPrice,
                    RetailPrice: _this.retailPrice,
                    TradePrice: _this.tradePrice,
                    AdjustPrice: _this.adjustPrice,
                    ClaimPrice: _this.claimPrice,
                    BrandName: _this.brandName,
                    Specifications: _this.specifications,
                    ProducedAddress: _this.producedAddress,
                    Label: _this.label,
                    Description: _this.description
                };
                $.ajax({
                    url: "@Url.Action("Add")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(partsDictionary),
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "添加成功",
                                showConfirmButton: false,
                                timer: "1000"
                            });
                            setTimeout(function() {
                                    window.location.href = "@Url.Action("Index")";
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: res.Msg
                            });
                        }
                    }
                });
            }
        }
    });
</script>

