@model AMS.Model.dto.SupplierDto
@{
    ViewBag.Title = "修改一个供应商";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/carModel/carModelAdd.css" rel="stylesheet" />
<div id="addApp" class="form">
    <div class="options container-fluid">
        <div class="row">
            <button @@click="saveUser" class="k-button k-primary marginRight5px"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button @@click="goBack" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="baseinfo container-fluid">
        <h4 class="marginBottom30px">基础信息</h4>
        <hr/>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">供应商名称</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="name"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">供应商代码</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.lazy.trim="code"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">联系人</label>
            <div class="col-xs-3">
                <input id="contactName" class="k-textbox full-width" v-model.lazy.trim="contactName"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">手机</label>
            <div class="col-xs-3">
                <input id="mobilePhone" class="k-textbox full-width" v-model.trim="mobilePhone"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">座机</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="fixPhone"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">传真</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="fax"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">主营范畴</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.lazy.trim="majorOrigin"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">开户银行</label>
            <div class="col-xs-3">
                <input id="bankName" class="k-textbox full-width" v-model.lazy.trim="bankName"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">汇款账户</label>
            <div class="col-xs-3">
                <input id="bankAccount" class="k-textbox full-width" v-model.trim="bankAccount"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">联系地址</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="address"/>·
            </div>
        </div>
    </div>
    <div class="advancedinfo container-fluid">
        <h4 class="marginBottom30px">基础信息</h4>
        <hr/>
        <div class="form-group row">
            <label class="col-xs-2 text-right">性别</label>
            <div class="col-xs-3">
                <div id="gender">
                    <span>
                        男
                    </span>
                    <span>
                        女
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">生日</label>
            <div class="col-xs-3">
                <input id="birthday" class="full-width" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">微信</label>
            <div class="col-xs-3">
                <input id="wechat" class="k-textbox full-width" v-model.lazy.trim="wechat"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">QQ</label>
            <div class="col-xs-3">
                <input id="QQ" class="k-textbox full-width" v-model.trim="QQ"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">备注</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="description"/>·
            </div>
        </div>
    </div>
</div>
<script>

</script>
<script>
    var addVm = new Vue({
        el: "#addApp",
        data: {
            id:"@Model.Id",
            name: "@Model.Name",
            code: "@Model.Code",
            contactName: "@Model.ContactName",
            mobilePhone: "@Model.MobilePhone",
            fixPhone: "@Model.FixPhone",
            fax: "@Model.Fax",
            majorOrigin: "@Model.MajorOrigin",
            bankName: "@Model.BankName",
            bankAccount: "@Model.BankAccount",
            address: "@Model.Address",
            gender: @Model.Gender,
            birthday: "@Model.Birthday",
            wechat: "@Model.Wechat",
            QQ: "@Model.QQ",
            description:"@Model.Description"
        },
        methods: {
            goBack: function() {
                window.history.back();
            },
            saveUser: function () {
                var _this = this;
                _this.gender = $("#gender").data("kendoButtonGroup").current().index();
                _this.birthday = $("#birthday").data("kendoDatePicker").value();
                var supplier = {
                    Id:_this.id,
                    Name: _this.name,
                    Code: _this.code,
                    ContactName: _this.contactName,
                    MobilePhone: _this.mobilePhone,
                    FixPhone: _this.fixPhone,
                    Fax: _this.fax,
                    MajorOrigin: _this.majorOrigin,
                    BankName: _this.bankName,
                    BankAccount: _this.bankAccount,
                    Address: _this.address,
                    Gender: _this.gender,
                    Birthday: _this.birthday,
                    Wechat: _this.wechat,
                    QQ: _this.QQ,
                    Description: _this.description
                };
                $.ajax({
                    url: "@Url.Action("Update")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(supplier),
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "更新成功",
                                showConfirmButton: false,
                                timer: "1000"
                            });
                            setTimeout(function() {
                                    window.location.href = "@Url.Action("Index")";
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: res.Msg
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#gender").kendoButtonGroup({
            index:@Model.Gender
    });
        $("#birthday").kendoDatePicker({
            format: "yyyy/MM/dd",
            value:"@Model.Birthday"
        });
    });
</script>
