@using Newtonsoft.Json
@model AMS.Model.dto.ServiceRepairDto
@{
    ViewBag.Title = "编辑洗车单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/washcar/edit.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="pull-left option-group">
            <button id="btn_cash" type="button" class="k-button k-primary"><i class="fa fa-money"></i>&nbsp;收银</button>
            <button id="btn_credit" type="button" class="k-button"><i class="fa fa-yen"></i>&nbsp;挂账</button>
            <button id="btn_back" type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
        <div class="pull-left option-group">
            <button type="button" class="k-button"><i class="fa fa-print"></i>&nbsp;打印</button>
        </div>
        <div class="pull-right">  
            <div class="navigation">
                <span class="finished"><span>√</span><span>选择车辆</span></span>
                <span class="interval-line"></span>
                <span class="finished"><span>√</span><span>开单</span></span>
                <span class="interval-line"></span>
                <span class="current"><span>3</span><span>出厂</span></span>
            </div>
        </div>
    </div>
    <div id="carChooseArea" class="row">
        <div class="form-group marginBottom25px">
            <div class="form-item">
                <label>车辆：</label>
                <input id="chooseCar"/>
            </div>
            <div class="form-item">@Model.Car.CustomerName @Model.Car.CustomerPhone</div>
            <div class="form-item">
                <label>预约单：</label>
                <input id="chooseBooking" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-item marginRight20px">
                <label>进厂时间：</label>
                <input id="serviceTime" />
            </div>
            <div class="form-item">
                <label>预计出厂时间：</label>
                <input id="estimateLeaveTime" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-item marginRight20px">
                <label>洗车工：</label>
                <input id="mainOperator" />
            </div>
            <div class="form-item marginRight20px">
                <label>维修顾问：</label>
                <input id="repairAdvisor" />
            </div>
            <div class="form-item marginRight20px">
                <label>当前里程：</label>
                <input id="currentMiles" />
            </div>
            <div class="form-item">
                <label>下次保养里程：</label>
                <input id="nextMaintainMiles" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-item marginRight20px">
                <label>下次保养日期：</label>
                <input id="nextMaintainDate" />
            </div>
            <div class="form-item marginRight20px">
                <label>保险到期：</label>
                <input id="insuranceExpireTime" />
            </div>
            <div class="form-item ">
                <label>年审到期：</label>
                <input id="yearlyCheckTime" />
            </div>
        </div>
    </div>
    <div id="washCarItem" class="row">
        <div>
            <i class="fa fa-info-circle blue"></i>&nbsp;洗车项目
        </div>
        <ul id="washItemBox">
        </ul>
    </div>
    <div class="row">
        <div class="form-group">
            <label>项目备注：</label>
            <input id="Description" class="k-textbox" style="width: 400px;"/>
        </div>
    </div>
    <div id="checkMoney" class="row">
        <div class="form-group">
            <label>应结金额：</label>
            <strong>&yen;&nbsp;<span id="totalMoney">0.00</span></strong>
        </div>
        <div class="form-group red">
            <label>优惠金额：</label>
            <strong>-&yen;&nbsp;<span id="washCarDiscount">0.00</span></strong>
        </div>
        <div class="form-group red">
            <label>抹零：</label>
            <strong>-&yen;&nbsp;<input id="removeLittle"/></strong>
        </div>
    </div>
    <div id="payWay">
        <div>付款方式</div>
        <ul id="payWayBox">
        </ul>
    </div>
    <div id="finalMoney" class="row">
        <hr/>
        <div class="form-group">
            <label>应收金额：</label>
            <span><span id="finalPay" class="moneyNumber">0.00</span>元</span>
        </div>
    </div>
</div>
<script>
    var selectWashItemId = "";
    var selectWashItemPrice = 0;
    var selectPaymentTypeId = "";

    var shouldPay = 0;
    var washCarDiscount = 0;
    var backLittle = 0;
    var finalPay = 0;
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("WashItem_ButtonGroupDataSource")",
            success: function (res) {
                if (res) {
                    for (var i = 0; i < res.length; i++) {
                        $("#washItemBox").append("<li id='"+res[i].Id+"' data-price='"+res[i].Price+"'><span class='pull-left'>"+res[i].Name+"</span><span class='pull-right'>"+res[i].Price+"元</span></li>");
                    }
                }
            }
        });
        $.ajax({
            url: "@Url.Action("PaymentType_Choose")",
            success: function(res) {
                if (res) {
                    for (var i = 0; i < res.length; i++) {
                        $("#payWayBox").append("<li id='"+res[i].Id+"' data-iconUrl='"+res[i].IconUrl+"' data-selectedIconUrl='"+res[i].SelectedIconUrl+"'><img src='"+res[i].IconUrl+"'/><p>"+res[i].Name+"</p></li>");
                    }
                }
            }
        });
        $("#washItemBox").on("click", "li", function() {
            $("#washItemBox li").each(function() {
                $(this).removeClass("selected");
            });
            $(this).addClass("selected");
            selectWashItemId = $(this).attr("id");
            selectWashItemPrice = parseFloat($(this).attr("data-price"));
            refreshMoney();
        });
        $("#payWayBox").on("click", "li", function() {
            $("#payWayBox li").each(function() {
                if ($(this).hasClass("selectedPayType")) {
                    $(this).removeClass("selectedPayType");
                    $(this).children("img").attr("src",$(this).attr("data-iconUrl"));
                }
            });
            $(this).addClass("selectedPayType");
            $(this).children("img").attr("src", $(this).attr("data-selectedIconUrl"));
            selectPaymentTypeId = $(this).attr("id");
        });
        $("#chooseCar").kendoComboBox({
            text:"@Model.Car.PlateNum"
        }).data("kendoComboBox").enable(false);
        $("#chooseBooking").kendoDropDownList({
            text:"@Model.BookingBillNo"
        }).data("kendoDropDownList").enable(false);
        $("#serviceTime").kendoDateTimePicker({
            value: "@Model.ServiceDateTime",
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm"
        }).data("kendoDateTimePicker").enable(false);
        $("#estimateLeaveTime").kendoDateTimePicker({
            value: "@Model.EstimateLeaveTime",
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm"
        });
        $("#mainOperator").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairAdvisor_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.ServiceAdvisorId"
        });
        $("#repairAdvisor").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairAdvisor_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.ServiceAdvisorId"
        });
        $("#currentMiles").kendoNumericTextBox({
            value:"@Model.Car.CurrentMileage"
        });
        $("#nextMaintainMiles").kendoNumericTextBox({
            value:"@Model.Car.NextMaintainMileage"
        });
        $("#nextMaintainDate").kendoDatePicker({
            value: "@Model.Car.NextMaintainDate",
            format: "yyyy/MM/dd"
        });
        $("#insuranceExpireTime").kendoDatePicker({
            value: "@Model.Car.InsuranceExpireTime",
            format: "yyyy/MM/dd"
        });
        $("#yearlyCheckTime").kendoDatePicker({
            value: "@Model.Car.YearlyCheckTime",
            format: "yyyy/MM/dd"
        });
        $("#removeLittle").kendoNumericTextBox({
            change: function() {
                refreshMoney();
            }
        });
        //收银
        $("#btn_cash").click(function() {
            $.ajax({
                url: "@Url.Action("WashCarTurnToCash")",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(getTicketInfo(false)),
                success: function(res) {
                    if (res.Success) {
                        swal({
                            type: "success",
                            text: "收银成功",
                            showConfirmButton: false,
                            timer: 800
                        });
                        setTimeout(function() {
                                window.location.href =
                                    "@Url.Action("ViewDetail")" + "?serviceRepairId=" + res.Data.ServiceRepairId;
                            },
                            900);
                    } else {
                        swal({
                            type: "error",
                            text:res.Msg
                        });
                    }
                }
            });
        });
        //挂账
        $("#btn_credit").click(function() {
            $.ajax({
                url: "@Url.Action("WashCarTurnToCash")",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(getTicketInfo(true)),
                success: function(res) {
                    if (res.Success) {
                        swal({
                            type: "success",
                            text: "收银成功",
                            showConfirmButton: false,
                            timer: 800
                        });
                        setTimeout(function() {
                                window.location.href =
                                    "@Url.Action("ViewDetail")" + "?serviceRepairId=" + res.Data.ServiceRepairId;
                            },
                            900);
                    } else {
                        swal({
                            type: "error",
                            text:res.Msg
                        });
                    }
                }
            });
        });
        //返回
        $("#btn_back").click(function() {
            window.history.back();
        });
    });
</script>
<script>
    function refreshMoney() {
        $("#totalMoney").html(selectWashItemPrice);
        shouldPay = selectWashItemPrice;
        washCarDiscount = parseFloat($("#washCarDiscount").html()) || 0;
        backLittle = $("#removeLittle").data("kendoNumericTextBox").value() || 0;
        finalPay = shouldPay - washCarDiscount - backLittle;
        $("#finalPay").html(finalPay);
    }

    function getTicketInfo(isCreditPay) {
        return {
            ServiceRepairId: "@Model.Id",
            ShouldPay: shouldPay,
            WashCarDiscount: washCarDiscount,
            WashCarCreditPay: isCreditPay ? finalPay : 0,
            RealPay: isCreditPay ? 0 : finalPay,
            BackLittle: backLittle,
            Description: $("#Description").val().trim(),
            ServiceRepair: {
                Id: "@Model.Id",
                EstimateLeaveTime: $("#estimateLeaveTime").data("kendoDateTimePicker").value(),
                WashCarMainOperatorId: $("#mainOperator").data("kendoDropDownList").value(),
                ServiceAdvisorId: $("#repairAdvisor").data("kendoDropDownList").value(),
                ServiceWashItem: {
                    WashItemId: selectWashItemId
                },
                Car: {
                    Id: "@Model.Car.Id",
                    CurrentMileage: $("#currentMiles").data("kendoNumericTextBox").value(),
                    NextMaintainMileage: $("#nextMaintainMiles").data("kendoNumericTextBox").value(),
                    NextMaintainDate: $("#nextMaintainDate").data("kendoDatePicker").value(),
                    InsuranceExpireTime: $("#insuranceExpireTime").data("kendoDatePicker").value(),
                    YearlyCheckTime:$("#yearlyCheckTime").data("kendoDatePicker").value()
                }
            },
            ServiceRepairPayments: [
                {
                    PaymentTypeId: selectPaymentTypeId,
                    Money: isCreditPay ? 0: finalPay
                }]
        }
    }
</script>

