@model AMS.Model.dto.ServiceRepairCashTicketDto
@{
    ViewBag.Title = "维修结算";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/repaircar/cash.css" rel="stylesheet" />
<div id="repairCash" class="container-fluid">
    <div class="option-area row">
        <div class="pull-left option-group">
            <button id="btn_cash" type="button" class="k-button k-primary"><i class="fa fa-money"></i>&nbsp;收银</button>
            <button id="btn_back" type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
        <div class="pull-right">
            <div class="navigation">
                <span class="finished"><span>√</span><span>选择车辆</span></span>
                <span class="interval-line"></span>
                <span class="finished"><span>√</span><span>开单</span></span>
                <span class="interval-line"></span>
                <span class="finished"><span>√</span><span>维修</span></span>
                <span class="interval-line"></span>
                <span class="finished"><span>√</span><span>竣工</span></span>
                <span class="interval-line"></span>
                <span class="current"><span>5</span><span>结算收银</span></span>
                <span class="interval-line"></span>
                <span><span>6</span><span>出厂</span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            收银信息
        </div>
        <div class="form-group">
            <span class="info-icon">
                <i class="fa fa-file-text-o fa-2x" style="color: #1ABD9D; padding-left: 12px"></i>
            </span>
            <span>
                @Model.ServiceRepairAccountTicket.ServiceRepair.BillNo
            </span>
            <span id="payMoney" class="pull-right">
                <label>应付金额：</label>
                <span>@Model.ServiceRepairAccountTicket.RealPay</span>
            </span>
        </div>
        <div class="form-group">
            <span class="info-icon">
                <i class="fa fa-user fa-2x blue" style="padding-left: 12px"></i>
            </span>
            <span>
                @Model.ServiceRepairAccountTicket.ServiceRepair.ContactName &nbsp; 
                @Model.ServiceRepairAccountTicket.ServiceRepair.ContactPhone &nbsp; 
                @Model.ServiceRepairAccountTicket.ServiceRepair.Car.PlateNum
            </span>
        </div>
    </div>
    <div class="row">
        <div class="title">
            付款方式
        </div>
        <ul id="payWayBox">
            
        </ul>
        <div class="money-check-item">
            <label class="pull-left">
                实付：
            </label>
            <span class="pull-right">
                ￥<span id="realPay">0.00</span>
            </span>
        </div>
        <div class="money-check-item">
            <label class="pull-left">
                应付：
            </label>
            <span class="pull-right">
                -￥<span>@Model.ServiceRepairAccountTicket.RealPay</span>
            </span>
        </div>
        <div class="money-check-item">
            <label class="pull-left">
                找零：
            </label>
            <span class="pull-right">
                ￥<span id="backLittle">0.00</span>
            </span>
        </div>
    </div>
    <div id="taxBox" class="row">
        <div class="title">
            发票
        </div>
        <div>
            <div id="tax">
            </div>
            <label>票据号：</label>
            <input id="taxBillNo" class="k-textbox"/>
        </div>
    </div>
</div>
<script>
    var serviceTicketId = "";
    var selectPayments = [];
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("ServiceTickType_ButtonGroupDataSource")",
            success: function(res) {
                if (res) {
                    for (var i = 0; i < res.length; i++) {
                        $("#tax").append("<span id='" + res[i].Id + "'>" + res[i].Name + "</span>");
                    }
                    $("#tax").kendoButtonGroup({
                        select: function() {
                            serviceTicketId = $(this.current()).attr("id");
                        }
                    });
                }
            }
        });
        $.ajax({
            url: "@Url.Action("PaymentType_Choose")",
            success: function(res) {
                if (res) {
                    for (var i = 0; i < res.length; i++) {
                        if (res[i].Name === "现金") {
                            $("#payWayBox").append('<li>' +
                                '                <span class="checkbox-item">' +
                                '                    <input type="checkbox" checked="checked" id="'+res[i].Id+'" class="k-checkbox">' +
                                '                    <label class="k-checkbox-label" for="'+res[i].Id+'"></label>' +
                                '                </span>' +
                                '                <label class="name-item">' +
                                '                    ' +res[i].Name+ 
                                '                </label>' +
                                '                <input type="number" class="k-textbox" value="'+@Model.ServiceRepairAccountTicket.RealPay+'"/>' +
                                '            </li>');
                            selectPayments.push({
                                PaymentTypeId: res[i].Id,
                                Money:@Model.ServiceRepairAccountTicket.RealPay
                            });
                        } else {
                            $("#payWayBox").append('<li>' +
                                '                <span class="checkbox-item">' +
                                '                    <input type="checkbox" id="'+res[i].Id+'" class="k-checkbox">' +
                                '                    <label class="k-checkbox-label" for="'+res[i].Id+'"></label>' +
                                '                </span>' +
                                '                <label class="name-item">' +
                                '                    ' +res[i].Name+ 
                                '                </label>' +
                                '                <input type="number" class="k-textbox"/>' +
                                '            </li>');
                        }
                        refreshMoneyCalculate();
                    }
                }
            }
        });
        $("#payWayBox").on("change", "li input[type=checkbox]", function() {
            if ($(this).is(":checked")) {
                selectPayments.push({
                    PaymentTypeId: $(this).attr("id"),
                    Money:parseFloat($(this).parent().next().next().val()) || 0
                });
            } else {
                for (var i = 0; i < selectPayments.length; i++) {
                    if (selectPayments[i].PaymentTypeId == $(this).attr("id")) {
                        selectPayments.splice(i, 1);
                        break;
                    }
                }
            }
            refreshMoneyCalculate();
        });
        $("#payWayBox").on("keyup", "li input[type=number]", function () {
            var id = $(this).prev().prev().children("input").attr("id");
            for (var i = 0; i < selectPayments.length; i++) {
                if (selectPayments[i].PaymentTypeId === id) {
                    selectPayments[i].Money = parseFloat($(this).val());
                    break;
                }
            }
            refreshMoneyCalculate();
        });
        $("#payWayBox").on("change", "li input[type=number]", function () {
            var id = $(this).prev().prev().children("input").attr("id");
            for (var i = 0; i < selectPayments.length; i++) {
                if (selectPayments[i].PaymentTypeId === id) {
                    selectPayments[i].Money = parseFloat($(this).val());
                    break;
                }
            }
            refreshMoneyCalculate();
        });
        $("#btn_cash").click(function() {
            $.ajax({
                url: "@Url.Action("SaveAndTurnToCash")",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    ServiceRepairAccountTicketId:"@Model.ServiceRepairAccountTicket.Id",
                    ServiceTicketTypeId: serviceTicketId,
                    TaxBillNo: $("#taxBillNo").val().trim(),
                    ShouldPay:@Model.ServiceRepairAccountTicket.RealPay,
                    RealPay: parseFloat($("#realPay").html()),
                    BackLittle: parseFloat($("#backLittle").html()),
                    ServiceRpairPayments:selectPayments
                }),
                success: function(res) {
                    if (res.Success) {
                        swal({
                            type: "success",
                            text: "收银成功",
                            showConfirmButton: false,
                            timer:800
                        });
                        setTimeout(function() {
                            window.location.href = "@Url.Action("ViewDetail")" +
                                "?serviceRepairId=" +
                                res.Data.ServiceRepairId;
                        },900);
                    } else {
                        swal({
                            type: "error",
                            text:res.Msg
                        });
                    }
                }
            });
        });
        $("#btn_back").click(function() {
            window.history.back();
        });
    });
</script>
<script>
    function refreshMoneyCalculate() {
        var realPay = 0;
        for (var i = 0; i < selectPayments.length; i++) {
            realPay += selectPayments[i].Money;
        }
        var backLittle = realPay - @Model.ServiceRepairAccountTicket.RealPay;
        $("#realPay").html(realPay);
        $("#backLittle").html(backLittle>0?backLittle:0);
    }
</script>

