@using AMS.Model.Enum
@using Newtonsoft.Json
@model AMS.Model.dto.ServiceRepairDto
@{
    ViewBag.Title = "查看维修单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/repaircar/edit.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="pull-left option-area">
            <button id="btn_finish" style="display: none;" type="button" class="k-button k-primary"><i class="fa fa-flag"></i>&nbsp;竣工</button>
            <button id="btn_unfinish" style="display: none;" type="button" class="k-button"><i class="fa fa-flag"></i>&nbsp;取消竣工</button>
            <button id="btn_account" style="display: none;" type="button" class="k-button k-primary"><i class="fa fa-yen"></i>&nbsp;结算</button>
            <button id="btn_cash" style="display: none;" type="button" class="k-button k-primary"><i class="fa fa-yen"></i>&nbsp;收银</button>
            <button id="btn_leave" style="display: none;" type="button" class="k-button k-primary"><i class="fa fa-flag"></i>&nbsp;出厂</button>
            <button id="btn_back" type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
        <div class="pull-left option-group">
            <button type="button" class="k-button"><i class="fa fa-print"></i>&nbsp;打印</button>
        </div>
        <div class="pull-right">
            <div class="navigation">
                <span class="finished"><span>√</span><span>选择车辆</span></span>
                <span class="interval-line"></span>
                <span class="finished"><span>√</span><span>开单</span></span>
                <span class="interval-line"></span>
                <span class="current"><span>3</span><span>维修</span></span>
                <span class="interval-line"></span>
                <span><span>4</span><span>竣工</span></span>
                <span class="interval-line"></span>
                <span><span>5</span><span>结算收银</span></span>
                <span class="interval-line"></span>
                <span><span>6</span><span>出厂</span></span>
            </div>
        </div>
    </div>
    <div id="carChooseArea" class="row">
        <div class="form-group marginBottom25px">
            <div class="form-item">
                <label>车辆：</label>
                <input id="chooseCar"/>
            </div>
            <div id="carInfoDetail" class="form-item">@Model.Car.CustomerName @Model.Car.CustomerPhone</div>
            <div class="form-item">
                <label>预约单：</label>
                <input id="chooseBooking" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-item marginRight20px">
                <label>进厂时间：</label>
                <input id="serviceTime" />
            </div>
            <div class="form-item">
                <label>预计出厂时间：</label>
                <input id="estimateLeaveTime" />
            </div>
        </div>
        
    </div>
    <div id="carInfoItem" class="row">
        <div id="simpleInfo">
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>维修顾问：</label>
                    <input id="repairAdvisor" />
                </div>
                <div class="form-item marginRight20px">
                    <label>送修人：</label>
                    <input id="contactName" disabled="disabled" class="k-textbox" value="@Model.ContactName"/>
                </div>
                <div class="form-item ">
                    <label>联系方式：</label>
                    <input id="contactPhone" disabled="disabled" class="k-textbox" value="@Model.ContactPhone"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>维修类型：</label>
                    <input id="repairType" />
                </div>
                <div class="form-item marginRight20px">
                    <label>当前里程：</label>
                    <input id="currentMiles" />
                </div>
                <div class="form-item">
                    <label>下次保养里程：</label>
                    <input id="nextMaintainMiles" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>下次保养日期：</label>
                    <input id="nextMaintainDate" />
                </div>
            </div>
        </div>
        <div id="advancedInfo" style="display: none;">
            <div class="bgLightGreen">
                <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>发动机型号：</label>
                    <input id="carEngineModelNo" disabled="disabled" class="k-textbox" value="@Model.Car.EngineModelNo"/>
                </div>
                <div class="form-item marginRight20px">
                    <label>发动机号：</label>
                    <input id="carEngineNo" disabled="disabled" class="k-textbox" value="@Model.Car.EngineNo"/>
                </div>
                <div class="form-item">
                    <label>车辆登记时间：</label>
                    <input id="carRegisterTime"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>保险公司：</label>
                    <input id="insuranceOrg" disabled="disabled" class="k-textbox" value="@Model.Car.InsuranceOrg"/>
                </div>
                <div class="form-item marginRight20px">
                    <label>保险到期：</label>
                    <input id="insuranceExpireTime" />
                </div>
                <div class="form-item ">
                    <label>年审到期：</label>
                    <input id="yearlyCheckTime" />
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>维修说明：</label>
                    <textarea id="repairDescription" disabled="disabled" class="k-textbox">@Model.RepairDescription</textarea>
                </div>
                <div class="form-item ">
                    <label>备注：</label>
                    <textarea id="Description" disabled="disabled" class="k-textbox">@Model.Description</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="form-item marginRight20px">
                    <label>客户委修说明：</label>
                    <textarea id="customerDescription" disabled="disabled" class="k-textbox">@Model.CustomerDescription</textarea>
                </div>
            </div>
            
        </div>
        <button id="switchSimpleAndAdvanced">
                <i class="fa fa-angle-double-down"></i>
                <span>更多信息</span>
        </button>
    </div>
    <div id="chooseItem" class="row">
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">
                    <span>维修项目&nbsp;<label class="badge badge-success">￥<span id="totalRepairItemMoney">0.00</span> &nbsp;(<span id="totalRepairItemCount">0</span>项)</label></span>
                </li>
                <li>
                    <span>预估用料&nbsp;</span>
                </li>
                <li>
                    <span>维修用料&nbsp;<span class="badge badge-info">￥<span id="totalRepairPartsMoney">0.00</span>&nbsp;(<span id="totalRepairPartsCount">0</span>项</span></span>
                </li>
            </ul>
            <div>
                <div id="repairItemGrid"></div>
            </div>
            <div>
                <div id="estimatePartsGrid"></div>
            </div>
            <div>
                <div id="repairPartsGrid"></div>
            </div>
        </div>
    </div>
    <div class="info-fix-bottom k-primary">
        <label>费用合计：</label>
        <span id="totalMoney">0.00</span>
    </div>
</div>
<script id="repairItemGridToolBarTemp" type="text/x-kendo-template">
    <div>
        <button onclick="addRepairItem();" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
    </div>
</script>
<script id="estimatePartsGridToolBarTemp" type="text/x-kendo-template">
    <button type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
</script>
<script id="repairPartsGridToolBarTemp" type="text/x-kendo-template">
    <button onclick="addRepairPartsWindow();" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
</script>
<script id="repairItemOptionTemp" type="text/x-kendo-template">
    <span class="option-box"><button class="k-button k-button-icontext" onclick="removeRepairItem(this);"><i class="fa fa-times red"></i></button></span>
</script>
<script id="repairPartsOptionTemp" type="text/x-kendo-template">
    <span class="option-box"><button class="k-button k-button-icontext" onclick="removeRepairParts(this);"><i class="fa fa-times red"></i></button></span>
</script>
<script>
    $("#btn_finish").toggle(@Json.Encode(Model.ServiceRepairState== ServiceRepairState.在修));
    $("#btn_unfinish").toggle(@Json.Encode(Model.ServiceRepairState== ServiceRepairState.竣工));
    $("#btn_account").toggle(@Json.Encode(Model.ServiceRepairState== ServiceRepairState.竣工));
    $("#btn_cash").toggle(@Json.Encode(Model.ServiceRepairState== ServiceRepairState.结算));
    $("#btn_leave").toggle(@Json.Encode(Model.ServiceRepairState== ServiceRepairState.收银));
</script>
<script>
    var totalRepairItemMoney = 0.00;
    var totalRepairItemCount = 0;
    var totalRepairPartsMoney = 0.00;
    var totalRepairPartsCount = 0;
    var totalMoney = 0.00;
    var tempRepairItems =@Html.Raw(JsonConvert.SerializeObject(Model.ServiceRepairItem));
    var tempRepairParts =@Html.Raw(JsonConvert.SerializeObject(Model.RepairParts));
    var tempEstimateParts=@Html.Raw(JsonConvert.SerializeObject(Model.EstimateRepairParts));
    var repairItems = [];
    var repairParts = [];
    var estimateParts = [];
    for (var i = 0; i < tempRepairItems.length; i++) {
        repairItems.push({
            RepairItemId: tempRepairItems[i].RepairItemId,
            SerNum: tempRepairItems[i].RepairItemSerNo,
            Name: tempRepairItems[i].RepairItemName,
            WorkHour: tempRepairItems[i].WorkHour,
            Price: tempRepairItems[i].Price,
            ServiceAccountId: tempRepairItems[i].ServiceAccountTypeId,
            ServiceAccountName: tempRepairItems[i].ServiceAccountTypeName,
            MainOperatorId: tempRepairItems[i].MainOperatorId,
            MainOperatorName:tempRepairItems[i].MainOperatorName,
            Description:tempRepairItems[i].Description
        });
    }
    for (var j = 0; j < tempRepairParts.length; j++) {
        repairParts.push({
            PartsCode: tempRepairParts[j].PartsCode,
            PartsId: tempRepairParts[j].PartsId,
            PartsName: tempRepairParts[j].PartsName,
            Count: tempRepairParts[j].Count,
            MaxCount: tempRepairParts[j].MaxCount,
            Price: tempRepairParts[j].Price,
            WarehouseName: tempRepairParts[j].WarehouseName,
            ServiceAccountTypeName: tempRepairParts[j].ServiceAccountTypeName,
            ServiceAccountTypeId: tempRepairParts[j].ServiceAccountTypeId
        });
    }
    for (var j = 0; j < tempEstimateParts.length; j++) {
        estimateParts.push({
            PartsCode: tempEstimateParts[j].PartsCode,
            PartsId: tempEstimateParts[j].PartsId,
            PartsName: tempEstimateParts[j].PartsName,
            Count: tempEstimateParts[j].Count,
            MaxCount: tempEstimateParts[j].MaxCount,
            Price: tempEstimateParts[j].Price,
            WarehouseName: tempEstimateParts[j].WarehouseName,
            ServiceAccountTypeName: tempEstimateParts[j].ServiceAccountTypeName,
            ServiceAccountTypeId: tempEstimateParts[j].ServiceAccountTypeId
        });
    }
    var defaultAccountType = {};
    $.ajax({
        url: "@Url.Action("ServiceAccountType_DropDownListDataSource")",
        success: function(res) {
            defaultAccountType = res[0];
        }
    });
</script>
<script>
    $(document).ready(function() {
        $("#chooseCar").kendoComboBox({
            text:"@Model.Car.PlateNum"
        }).data("kendoComboBox").enable(false);
        $("#chooseBooking").kendoDropDownList({
            text:"@Model.BookingBillNo",
        }).data("kendoDropDownList").enable(false);

        $("#serviceTime").kendoDateTimePicker({
            value: "@Model.ServiceDateTime",
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm"
        }).data("kendoDateTimePicker").enable(false);
        $("#estimateLeaveTime").kendoDateTimePicker({
            value: "@Model.EstimateLeaveTime",
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm"
        }).data("kendoDateTimePicker").enable(false);
        $("#repairAdvisor").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairAdvisor_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.ServiceAdvisorId"
        }).data("kendoDropDownList").enable(false);
        $("#repairType").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairType_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.RepairTypeId"
        }).data("kendoDropDownList").enable(false);
        $("#currentMiles").kendoNumericTextBox({
            value:"@Model.Car.CurrentMileage"
        }).data("kendoNumericTextBox").enable(false);
        $("#nextMaintainMiles").kendoNumericTextBox({
            value:"@Model.Car.NextMaintainMileage"
        }).data("kendoNumericTextBox").enable(false);
        $("#nextMaintainDate").kendoDatePicker({
            value: "@Model.Car.NextMaintainDate",
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker").enable(false);
        $("#insuranceExpireTime").kendoDatePicker({
            value: "@Model.Car.InsuranceExpireTime",
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker").enable(false);
        $("#carRegisterTime").kendoDatePicker({
            value: "@Model.Car.CarRegisterTime",
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker").enable(false);
        $("#yearlyCheckTime").kendoDatePicker({
            value: "@Model.Car.YearlyCheckTime",
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker").enable(false);
        $("#tabStrip").kendoTabStrip();
        $("#estimatePartsGrid").kendoGrid({
            dataSource: {
                data: estimateParts
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            columns: [
                {
                    field: "PartsCode",
                    title: "配件编码",
                },
                {
                    field: "PartsName",
                    title: "配件名称",
                },
                {
                    field: "Price",
                    headerTemplate:"<span >单价<i class='fa fa-edit green'></i><span>"
                },
                {
                    field: "Count",
                    headerTemplate:"<span >数量<i class='fa fa-edit green'></i><span>"
                },
                {
                    template: function(item) {
                        return item.Price * item.Count;
                    },
                    title: "总金额",
                },
                {
                    field: "WarehouseName",
                    title: "库房",
                },
                {
                    field: "ServiceAccountTypeName",
                    headerTemplate: "<span>结算方式<i class='fa fa-edit green'></i><span>",
                }
            ]
        });
        $("#repairItemGrid").kendoGrid({
            dataSource: {
                data: repairItems,
                schema: {
                    fields: {
                        WorkHour: { type: "number" },
                        Price: {type:"number"}
                    }
                }
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            columns: [
                {
                    field: "SerNum",
                    title: "项目编码"
                },
                {
                    field: "Name",
                    title: "项目名称"
                },
                {
                    field: "WorkHour",
                    title:"工时"
                },
                {
                    field: "Price",
                    title:"单价"
                },
                {
                    field: "ServiceAccountName",
                    title:"结算方式"
                },
                {
                    field: "MainOperatorName",
                    title:"主修人"
                },
                {
                    field: "Description",
                    title: "备注"
                }
            ]
        });
        $("#repairPartsGrid").kendoGrid({
            dataSource: {
                data: repairParts
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            columns: [
                {
                    field: "PartsCode",
                    title: "配件编码"
                },
                {
                    field: "PartsName",
                    title: "配件名称"
                },
                {
                    field: "Price",
                    title:"单价"
                },
                {
                    field: "Count",
                    title:"数量"
                },
                {
                    template: function(item) {
                        return item.Price * item.Count;
                    },
                    title: "总金额"
                },
                {
                    field: "WarehouseName",
                    title: "库房"
                },
                {
                    field: "ServiceAccountTypeName",
                    title:"结算方式"
                }
            ]
        });
        refreshLabelInfo();
    });
    $("#switchSimpleAndAdvanced").click(function () {
        if ($("#advancedInfo").is(":hidden")) {
            $("#advancedInfo").slideDown();
            $(this).html("<i class='fa fa-angle-double-up'></i><span>&nbsp;收起</span>");
        } else {
            $("#advancedInfo").slideUp();
            $(this).html("<i class='fa fa-angle-double-down'></i><span>&nbsp;更多信息</span>");
        }
    });
    //取消竣工
    $("#btn_unFinish").click(function() {
        $.ajax({
            url: "@Url.Action("TurnToUnFinish")",
            type: "POST",
            dataType: "json",
            data: {
                serviceRepairId:"@Model.Id"
            },
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "操作成功",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function() {
                        window.location.reload();
                    },1100);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg
                    });
                }
            }
        });
    });
    //竣工
    $("#btn_finish").click(function() {
        $.ajax({
            url: "@Url.Action("TurnToFinish")",
            type: "POST",
            dataType: "json",
            data: {
                serviceRepairId:"@Model.Id"
            },
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "操作成功",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function() {
                        window.location.reload();
                    },1100);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg
                    });
                }
            }
        });
    });
    //结算
    $("#btn_account").click(function() {
        window.location.href = "@Url.Action("RepairAccount")" + "?serviceRepairId=" + "@Model.Id";
    });
    //收银
    $("#btn_cash").click(function() {
        window.location.href = "@Url.Action("RepairCash")" + "?serviceRepairId=" + "@Model.Id";
    });
    //出厂
    $("#btn_leave").click(function() {
        $.ajax({
            url: "@Url.Action("TurnToLeave")",
            type: "POST",
            dataType: "json",
            data: {
                serviceRepairId:"@Model.Id"
            },
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "操作成功",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function() {
                        window.location.reload();
                    },1100);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg
                    });
                }
            }
        });
    });
    $("#btn_back").click(function () {
        @if (Model.ServiceRepairState == ServiceRepairState.出厂)
        {
            <text>
                window.location.href = "@Url.Action("Index")";
            </text>
        }
        else
        {
            <text>
                window.history.back();
            </text>
        }
    });
</script>
<script>
    function refreshLabelInfo() {
        totalRepairItemMoney = 0.00;
        totalRepairItemCount = 0;
        totalRepairPartsMoney = 0.00;
        totalRepairPartsCount = 0;
        totalMoney = 0.00;
        var grid1 = $("#repairItemGrid").data("kendoGrid");
        var items1 = grid1.items();
        for (var i = 0; i < items1.length; i++) {
            var item1 = grid1.dataItem(items1[i]);
            totalRepairItemMoney += item1.Price * item1.WorkHour;
            totalRepairItemCount++;
        }
        var grid2 = $("#repairPartsGrid").data("kendoGrid");
        var items2 = grid2.items();
        for (var j = 0; j < items2.length; j++) {
            var item2 = grid2.dataItem(items2[j]);
            totalRepairPartsMoney += item2.Price * item2.Count;
            totalRepairPartsCount++;
        }
        totalMoney = totalRepairItemMoney + totalRepairPartsMoney;
        $("#totalRepairItemMoney").html(totalRepairItemMoney);
        $("#totalRepairItemCount").html(totalRepairItemCount);
        $("#totalRepairPartsMoney").html(totalRepairPartsMoney);
        $("#totalRepairPartsCount").html(totalRepairPartsCount);
        $("#totalMoney").html(totalMoney);
    }
</script>

