@using AMS.Model.Enum

@{
    ViewBag.Title = "洗车开单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/washcar/create.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="pull-left option-group">
            <button id="btn_create" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;开单</button>
            <button id="btn_back" type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
        <div class="pull-right">
            <div class="navigation">
                <span class="current"><span>1</span><span>选择车辆</span></span>
                <span class="interval-line"></span>
                <span><span>2</span><span>开单</span></span>
                <span class="interval-line"></span>
                <span><span>3</span><span>维修</span></span>
                <span class="interval-line"></span>
                <span><span>4</span><span>竣工</span></span>
                <span class="interval-line"></span>
                <span><span>5</span><span>结算收银</span></span>
                <span class="interval-line"></span>
                <span><span>6</span><span>出厂</span></span>
            </div>
        </div>
    </div>
    <div id="carChooseArea" class="row">
        <div class="form-group marginBottom25px">
            <div class="form-item">
                <label>选择车辆：</label>
                <input id="chooseCar" />
            </div>
            <div id="carInfoDetail" class="form-item"></div>
            <div class="form-item">
                <label>预约单：</label>
                <input id="chooseBooking" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-item marginRight20px">
                <label>进厂时间：</label>
                <input id="serviceTime" />
            </div>
            <div class="form-item">
                <label>预计出厂时间：</label>
                <input id="estimateLeaveTime" />
            </div>
        </div>
    </div>
    <div class="row">
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">
                    维修历史
                </li>
                <li>
                    客户信息
                </li>
            </ul>
            <div>
                <div id="grid"></div>
            </div>
            <div>
                <div id="customerInfo">
                    <ul>
                        <li>
                            <div>
                                <label>客户名称：</label>
                                <span id="customerName"></span>
                            </div>
                            <div>
                                <label>微信：</label>
                                <span id="wechat"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>客户等级：</label>
                                <span id="level"></span>
                            </div>
                            <div>
                                <label>性别：</label>
                                <span id="gender"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>手机：</label>
                                <span id="mobilePhone"></span>
                            </div>
                            <div>
                                <label>生日：</label>
                                <span id="birthday"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>联系人：</label>
                                <span id="contactName"></span>
                            </div>
                            <div>
                                <label>QQ：</label>
                                <span id="qq"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>身份证号</label>
                                <span id="idNumber"></span>
                            </div>
                            <div>
                                <label>爱好：</label>
                                <span id="hobby"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>座机：</label>
                                <span id="fixPhone"></span>
                            </div>
                            <div>
                                <label>备注：</label>
                                <span id="description"></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>联系地址：</label>
                                <span id="address"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="carComboxHeaderTemp" type="text/x-kendo-template">
    <div id="comboxHeaderBox">
        <span>车牌号</span>
        <span>车型</span>
        <span>客户</span>
    </div>
</script>
<script id="carComboxTemp" type="text/x-kendo-template">
    <div class="comboxItem">
        <span>#: PlateNum #</span>
        <span>#: BrandName ##: SeriesName #</span>
        <span>#: CustomerName #</span>
    </div>
</script>
<script>
    $(document).ready(function() {
        $("#chooseCar").kendoComboBox({
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("Car_ComboBoxDataSource")",
                        data: function (){
                            return {
                                keyword:$("#chooseCar").data("kendoComboBox").text().trim()
                            }
                        }
                    }
                }
            },
            dataTextField: "PlateNum",
            dataValueField: "Id",
            headerTemplate:$("#carComboxHeaderTemp").html(),
            template: $("#carComboxTemp").html(),
            noDataTemplate: "未查询到匹配的车辆",
            change: function (e) {
                var item = this.dataItem();
                console.log(this.dataItem());
                $("#carInfoDetail").html(item ? item.CustomerName + "  " + item.CustomerPhone : "");
                var bookingdDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action("ServiceBooking_DropDownListDataSource")",
                            data: function() {
                                return {
                                    carId:item.Id
                                }
                            }
                        }
                    }
                });
                $("#chooseBooking").data("kendoDropDownList").setDataSource(bookingdDataSource);
                var repairHistoryDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action("RepairHistory_GridDataSource")",
                            data: function() {
                                return {
                                    carId:item.Id
                                }
                            }
                        }
                    }
                });
                $("#grid").data("kendoGrid").setDataSource(repairHistoryDataSource);
                refreshCustomerInfo(item);
            }
        });
        $("#chooseBooking").kendoDropDownList({
            dataSource: {
                data:[]
            },
            dataTextField: "BillNo",
            dataValueField: "Id"
        });
        $("#serviceTime").kendoDateTimePicker({
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm",
            value:"@DateTime.Now.ToString("yyyy/MM/dd HH:mm")"
        });
        $("#estimateLeaveTime").kendoDateTimePicker({
            format: "yyyy/MM/dd HH:mm",
            timeFormat:"HH:mm",
            value:"@DateTime.Now.AddDays(3).ToString("yyyy/MM/dd HH:mm")"
        });
        $("#tabStrip").kendoTabStrip();
        $("#grid").kendoGrid({
            dataSource: {
                data:[]
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            selectable: "multiple",
            detailInit:detailInit,
            columns: [
                {
                    title: "客户",
                    width:"130px",
                    template: function(item) {
                        return item.CustomerName + "(" + item.CustomerPhone + ")";
                    }
                },
                {
                    field: "CarPlateNum",
                    title: "车辆牌照"
                },
                {
                    field: "CarVIN",
                    title: "车架号"
                },
                {
                    field: "CurrentMileage",
                    title: "里程数"
                },
                {
                    title: "接车单号",
                    template: function(item) {
                        return "<a target='_blank' href='@Url.Action("ViewDetail","RepairManagement")" +
                            "?serviceRepairId=" +
                            item.Id +
                            "'>"+item.BillNo+"</a>";
                    }
                },
                {
                    field: "ServiceAdvisorName",
                    title: "维修顾问"
                },
                {
                    field: "ServiceDataTime",
                    title: "进厂时间"
                },
                {
                    field: "ServiceDataTime",
                    title: "工单类型",
                    template: function(item) {
                        if (item.ServiceType === @((int)ServiceType.维修)) {
                            return "<span class='label label-sm label-success' style='line-height: 14px;height: 14px;'>维修</span>";
                        } else {
                            return "<span class='label label-sm label-yellow' style='line-height: 14px;height: 14px;'>洗车</span>";
                        }
                    }
                },
                {
                    title: "状态",
                    template: function(item) {
                        if (item.ServiceType === @((int)ServiceType.维修)) {
                            switch (item.ServiceRepairState) {
                                case @((int)ServiceRepairState.登记):
                                    return "<span class='label label-sm label-yellow' style='line-height: 14px;height: 14px;'>登记</span>";
                                case @((int)ServiceRepairState.在修):
                                    return "<span class='label label-sm label-primary' style='line-height: 14px;height: 14px;'>在修</span>";
                                case @((int)ServiceRepairState.竣工):
                                    return "<span class='label label-sm label-success' style='line-height: 14px;height: 14px;'>竣工</span>";
                                case @((int)ServiceRepairState.结算):
                                    return "<span class='label label-sm label-warning' style='line-height: 14px;height: 14px;'>结算</span>";
                                case @((int)ServiceRepairState.收银):
                                    return "<span class='label label-sm label-danger' style='line-height: 14px;height: 14px;'>收银</span>";
                                case @((int)ServiceRepairState.出厂):
                                    return "<span class='label label-sm label-purple' style='line-height: 14px;height: 14px;'>出厂</span>";
                                case @((int)ServiceRepairState.作废):
                                    return "<span class='label label-sm ' style='line-height: 14px;height: 14px;'>作废</span>";
                            }
                        } else {
                            switch (item.ServiceWashState) {
                                case @((int)ServiceWashState.登记):
                                    return "<span class='label label-sm label-yellow' style='line-height: 14px;height: 14px;'>登记</span>";
                                case @((int)ServiceWashState.出厂):
                                    return "<span class='label label-sm label-purple' style='line-height: 14px;height: 14px;'>出厂</span>";
                                case @((int)ServiceWashState.作废):
                                    return "<span class='label label-sm' style='line-height: 14px;height: 14px;'>作废</span>";
                            }
                        }
                    }
                },
                {
                    field: "TotalRepairItemMoney",
                    title: "工时费"
                },
                {
                    field: "TotalPartsMoney",
                    title: "材料费"
                },
                {
                    field: "ManagementMoney",
                    title: "管理费"
                },
                {
                    field: "OtherMoney",
                    title: "其它费用"
                }
            ]
        });
    });
    $("#btn_create").click(function() {
        var serviceRepair = {
            CarId: $("#chooseCar").data("kendoComboBox").value(),
            ServiceBookingId: $("#chooseBooking").data("kendoDropDownList").value(),
            ServiceDateTime: $("#serviceTime").data("kendoDateTimePicker").value(),
            EstimateLeaveTime: $("#estimateLeaveTime").data("kendoDateTimePicker").value(),
            ContactName: $("#chooseCar").data("kendoComboBox").dataItem().CustomerName,
            ContactPhone: $("#chooseCar").data("kendoComboBox").dataItem().CustomerPhone
        };
        $.ajax({
            url: "@Url.Action("AddWashCar")",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(serviceRepair),
            success: function (res) {
                console.log(res);
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "洗车开单成功",
                        showConfirmButton: false,
                        timer: 800
                    });
                    setTimeout(function() {
                            window.location.href =
                                "@Url.Action("Edit")" + "?serviceRepairId=" + res.Data.ServiceRepairId;
                        },
                        900);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg
                    });
                }
            }
        });
    });
    $("#btn_back").click(function() {
        window.history.back();
    });
</script>
<script>
    function refreshCustomerInfo(info) {
        if (info && info.CustomerId) {
            $.ajax({
                url: "@Url.Action("GetCustomerInfo")",
                type:"POST",
                dataType: "json",
                data: {
                    customerId:info.CustomerId
                },
                success: function(res) {
                    if (res) {
                        $("#customerName").html(res.Name || "");
                        $("#wechat").html(res.Wechat || "");
                        $("#level").html(res.Level);
                        $("#gender").html(res.Gender===0?"男":"女");
                        $("#mobilePhone").html(res.MobilePhone || "");
                        $("#birthday").html(res.Birthday || "");
                        $("#contactName").html(res.ContactName || "");
                        $("#qq").html(res.QQ || "");
                        $("#idNumber").html(res.IDCard || "");
                        $("#hobby").html(res.Hobby || "");
                        $("#fixPhone").html(res.FixPhone || "");
                        $("#description").html(res.Description || "");
                        $("#address").html(res.Address || "");
                    }
                }
            });
        } else {
            $("#customerName").html("");
            $("#wechat").html("");
            $("#level").html("");
            $("#gender").html("");
            $("#mobilePhone").html("");
            $("#birthday").html("");
            $("#contactName").html("");
            $("#qq").html("");
            $("#idNumber").html("");
            $("#hobby").html("");
            $("#fixPhone").html("");
            $("#description").html("");
            $("#address").html("");
        }
    }
</script>
<script>
    function detailInit(e) {
        console.log(e);
        if (e.data.ServiceType === @((int)ServiceType.洗车)) {
            var content = "";
            if (e.data.ServiceWashItems.length > 0) {
                var item = e.data.ServiceWashItems[0];
                content = '<div class="washitem-box row">' +
                    '  <div class="washitem-title">洗车项目</div>' +
                    '<div class="form-group washitem-content-title">' +
                    '    <div class="col-xs-2">名称</div>' +
                    '    <div class="col-xs-1">价格</div>' +
                    '    <div class="col-xs-1">优惠</div>' +
                    '    <div class="col-xs-1">抹零</div>' +
                    '    <div class="col-xs-1">支付或挂账</div>' +
                    '</div>' +
                    '<div class="form-group washitem-content">' +
                    '    <div class="col-xs-2">'+item.WashItemName+'</div>' +
                    '    <div class="col-xs-1">'+item.WashItemPrice+'</div>' +
                    '    <div class="col-xs-1">0</div>' +
                    '    <div class="col-xs-1">0</div>' +
                    '    <div class="col-xs-1">0</div>' +
                    '</div>' +
                    '</div>';
            } else {
                content = '<div class="washitem-box row">' +
                    '  <div class="washitem-title">洗车项目</div>' +
                    '<div class="form-group washitem-content-title">' +
                    '    <div class="col-xs-2">名称</div>' +
                    '    <div class="col-xs-1">价格</div>' +
                    '    <div class="col-xs-1">优惠</div>' +
                    '    <div class="col-xs-1">抹零</div>' +
                    '    <div class="col-xs-1">支付或挂账</div>' +
                    '</div>' +
                    '</div>';
            }
            $("<div class='container-fluid'/>").appendTo(e.detailCell).append(content);
        } else {
            $("<div/>").appendTo(e.detailCell).append("<ul>" +
            "<li class='k-state-active'>" +
            "维修项目&nbsp;<span class='badge badge-success' style='padding: 3px 5px;line-height: 12px;'>"+e.data.ServiceRepairItem.length+"</span>" +
            "</li>" +
            "<li>" +
            "维修用料&nbsp;<span class='badge badge-info' style='padding: 3px 5px;line-height: 12px;'>"+e.data.RepairParts.length+"</span>" +
            "</li>" +
            "</ul>" +
            "<div>" +
            "<div id='a" + e.data.Id + "'></div>" +
            "</div>" +
            "<div>" +
            "<div id='b" + e.data.Id + "'></div>" +
            "</div>").kendoTabStrip();
        $("#a"+e.data.Id).kendoGrid({
            dataSource: {
                data: e.data.ServiceRepairItem,
                schema: {
                    fields: {
                        WorkHour: { type: "number" },
                        Price: { type: "number" }
                    }
                }
            },
            height: 300,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            columns: [
                {
                    field: "RepairItemSerNo",
                    title: "项目编码"
                },
                {
                    field: "RepairItemName",
                    title: "项目名称"
                },
                {
                    field: "WorkHour",
                    title: "工时"
                },
                {
                    field: "Price",
                    title: "单价"
                },
                {
                    field: "ServiceAccountTypeName",
                    title: "结算方式"
                },
                {
                    field: "MainOperatorName",
                    title: "主修人"
                },
                {
                    field: "Description",
                    title: "备注"
                }
            ]
        });
        $("#b"+e.data.Id).kendoGrid({
            dataSource: {
                data: e.data.RepairParts
            },
            height: 300,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            columns: [
                {
                    field: "PartsCode",
                    title: "配件编码"
                },
                {
                    field: "PartsName",
                    title: "配件名称"
                },
                {
                    field: "Price",
                    title: "单价"
                },
                {
                    field: "Count",
                    title: "数量"
                },
                {
                    template: function (item) {
                        return item.Price * item.Count;
                    },
                    title: "总金额"
                },
                {
                    field: "WarehouseName",
                    title: "库房"
                },
                {
                    field: "ServiceAccountTypeName",
                    title: "结算方式"
                }
            ]
        });
        }
    }
</script>

