
@{
    ViewBag.Title = "新建采购入库";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/partsBuy/add.css" rel="stylesheet" />
<script src="~/Scripts/kendo/kendo.web.ext.js"></script>
<div id="addApp" class="form">
    <div class="options container-fluid">
        <div class="row">
            <button @@click="save" class="k-button k-primary marginRight5px"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button @@click="goBack" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="baseinfo container-fluid">
        <h4>供应商、库房</h4>
        <hr/>
        <div class="form-group row">
            <label class="required col-xs-1 text-right">供应商</label>
            <div class="col-xs-4">
                <input id="supplier" class="k-textbox full-width"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-1 text-right">仓库</label>
            <div class="col-xs-4">
                <input id="warehouse" class="k-textbox full-width"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-1 text-right">备注</label>
            <div class="col-xs-4">
                <input class="k-textbox full-width" v-model.trim="description"/>
            </div>
        </div>
    </div>
    <div class="advancedinfo container-fluid">
        <h4 class="marginBottom25px">配件列表</h4>
        <div class="form-group row">
            <div class="paddingLeft13px">
                <div id="grid"></div>
            </div>
        </div>
        @* <div class="form-group row"> *@
        @*     <label class="col-xs-1">制单人</label> *@
        @*     <div class="col-xs-4"> *@
        @*         员工007 *@
        @*     </div> *@
        @* </div> *@
        @* <div class="form-group row"> *@
        @*     <label class="col-xs-1">时间</label> *@
        @*     <div class="col-xs-4"> *@
        @*         2018/05/09 14:16 *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>
<script id="gridToolbarTemp" type="text/x-kendo-template">
    <button onclick="addParts();" id="addParts" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;增加</button>
    <button onclick="advancedAddParts()" id="advancedAddParts" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;高级模式</button>
</script>
<script id="optionTemp" type="text/x-kendo-template">
    <span class="option-box"><button class="k-button k-button-icontext" onclick="removePartsBuy(this);"><i class="fa fa-times red"></i></button></span>
</script>
<script>
    var parts = [];
</script>
<script>
    var addParts=function() {
        $("body").append("<div id='simpleAddWindow'></div>");
        var simpleAddWindow = $("#simpleAddWindow").kendoWindow({
            title: "选购配件",
            width: "500px",
            height: "200px",
            content: "@Url.Action("AddParts_PartialView")",
            visible: false,
            modal: true,
            resizable: false,
            close: function() {
                this.destroy();
            }
        });
        simpleAddWindow.data("kendoWindow").center().open();
    }
    var advancedAddParts=function() {
        $("body").append("<div id='advancedAddWindow'></div>");
        var advancedAddWindow = $("#advancedAddWindow").kendoWindow({
            title: "选购配件",
            width: "1200px",
            height: "600px",
            content: "@Url.Action("AdvancedAddParts_PartialView")",
            visible: false,
            modal: true,
            resizable: false,
            close: function() {
                this.destroy();
            }
        });
        advancedAddWindow.data("kendoWindow").center().open();
    }
</script>
<script>
    $(document).ready(function () {
        $("#supplier").kendoComboBox({
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("Supplier_ComboBoxDataSource")",
                        data: function() {
                            return {
                                keyword:$("#supplier").data("kendoComboBox").text().trim()
                            }
                        }
                    }
                }
            },
            dataTextField:"Name",
            dataValueField: "Id"
        });
        $("#warehouse").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("Warehouse_DropDownListDataSource")"
                    }
                }
            },
            dataTextField:"Name",
            dataValueField: "Id"
        });
        var partsGrid=$("#grid").kendoGrid({
            dataSource: {
                data: parts,
                schema: {
                    id:"serNo",
                    fields: {
                        serNo: { type: "string",editable:false },
                        partsCode: { type: "string",editable:false },
                        partsName: { type: "string",editable:false },
                        brandName: { type: "string",editable:false },
                        price: { type: "number" },
                        count: {
                            type: "number", validation: { min: 0 }
                        },
                        subTotalMoney: { type: "number",editable:false },
                        warehouseName: { type: "string",editable:false }
                    }
                },
                batch:true
            },
            toolbar: [
                { template: kendo.template($("#gridToolbarTemp").html()) }
            ],
            editable: true,
            cellClose: function(e) {
                if (e.model.count < 1) {
                    e.model.count = 1;
                }
                if (e.model.price < 0) {
                    e.model.price = 0;
                }
                if (e.container[0].cellIndex == 4) {
                    e.container[0].nextSibling.nextSibling.innerHTML = e.model.price * e.model.count;
                } else {
                    e.container[0].nextSibling.innerHTML = e.model.price * e.model.count;
                }
            },
            navigatable: true,
            pageable: {
                pageSize: 20
            },
            height: 400,
            columns: [
                {
                    title: "操作",
                    template: $("#optionTemp").html(),
                    width:"80px"
                },
                {
                    field: "serNo",
                    title: "序号",
                    editable: function () {
                        return false;
                    }
                },
                {
                    field: "partsCode",
                    title: "配件编码",
                    editable: function () {
                        return false;
                    }
                },
                {
                    field: "partsName",
                    title: "配件名称",
                    editable: function () {
                        return false;
                    }
                },
                {
                    field: "brandName",
                    title: "品牌",
                    editable: function () {
                        return false;
                    }
                },
                {
                    field: "price",
                    title: "单价",
                    headerTemplate: "<span>单价<i class='fa fa-edit green' title='可编辑,点击下面的行即可编辑'></i></span>",
                },
                {
                    field: "count",
                    title: "数量",
                    headerTemplate: "<span>数量<i class='fa fa-edit green' title='可编辑,点击下面的行即可编辑'></i></span>"
                },
                {
                    field: "subTotalMoney",
                    title: "小计",
                    template: function(dataItem) {
                        return dataItem.price * dataItem.count;
                    },
                    editable: function () {
                        return false;
                    }
                },
                {
                    field: "warehouseName",
                    title: "库房",
                    editable: function () {
                        return false;
                    }
                }
            ]
        });
    });
</script>
<script>
    var addVm = new Vue({
        el: "#addApp",
        data: {
            supplierId: "",
            supplierName:"",
            warehouseId: "",
            warehouseName:"",
            description: "",
            partsIns:[]
        },
        methods: {
            goBack: function() {
                window.history.back();
            },
            save: function () {
                var _this = this;
                _this.supplierId = $("#supplier").data("kendoComboBox").value();
                _this.supplierName = $("#supplier").data("kendoComboBox").dataItem().Name;
                _this.warehouseId = $("#warehouse").data("kendoDropDownList").value();
                _this.warehouseName = $("#warehouse").data("kendoDropDownList").dataItem().Name;
                var grid = $("#grid").data("kendoGrid");
                var items = grid.items();
                for (var i = 0; i < items.length; i++) {
                    var item = grid.dataItem(items[i]);
                    _this.partsIns.push({
                        PartsDictionaryId: item.id,
                        SupplierPrice: item.price,
                        Count:item.count
                    });
                } 
                var partsBuy = {
                    SupplierId: _this.supplierId,
                    WarehouseId: _this.warehouseId,
                    Description: _this.description,
                    PartsIns:_this.partsIns
                };
                $.ajax({
                    url: "@Url.Action("Add")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(partsBuy),
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "添加成功",
                                showConfirmButton: false,
                                timer: "1000"
                            });
                            setTimeout(function() {
                                    window.location.href = "@Url.Action("Index")";
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: res.Msg
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<script>
    function removePartsBuy(_this) {
        var grid = $("#grid").data("kendoGrid");
        var item = grid.dataItem($(_this).parent().parent().parent());
        for (var i = 0; i < parts.length; i++) {
            if (item.partsCode == parts[i].partsCode) {
                parts.splice(i, 1);
                grid.dataSource.remove(item);
                return;
            }
        }
    }
</script>


