@using AMS.Model.Enum
@using Newtonsoft.Json
@model AMS.Model.dto.ServiceBookingDto
@{
    ViewBag.Title = "查看预约";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/booking/create.css" rel="stylesheet" />
<div id="booking" class="container-fluid">
    <div class="option-area row info-input-item">
        <div class="pull-left">
            <button id="btn_turnToRepair" style="display: none;" type="button" class="k-button k-primary"><i class="fa fa-arrow-left"></i>&nbsp;转接车</button>
            <button id="btn_edit" style="display: none" type="button" class="k-button k-primary"><i class="fa fa-edit"></i>&nbsp;编辑</button>
            <button id="btn_back" type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="row info-input-item">
        <div id="bookTimeInfo" class="title">
            <span>预约信息</span>
            <span>
                <label  class="required input-label">预约时间：</label>
                <input id="serviceRepairTime"/>
            </span>
        </div>
    </div>
    <div class="row info-input-item">
        <div class="title">
            <span>车辆信息</span>
            <span>
                <label class="required"></label>
                <input id="chooseCar" placeholder="--输入条件选择车辆--"/>
            </span>
            <span id="carFullName"></span>
        </div>
        <div style="padding-left: 25px;">
            <div class="form-group">
                <div class="input-item">
                    <label class="required">联系人：</label>
                    <input id="contactName" disabled="disabled"  class="k-textbox" value="@Model.ContactName"/>
                </div>
                <div class="input-item">
                    <label class="required">联系电话：</label>
                    <input id="contactPhone" disabled="disabled"  class="k-textbox" value="@Model.ContactPhone"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label class="required">联系地址：</label>
                    <input id="address" disabled="disabled"  class="k-textbox" value="@Model.ContactAddress"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row info-input-item">
        <div class="title">
            <span>其它信息</span>
        </div>
        <div style="padding-left: 25px;">
            <div class="form-group">
                <div class="input-item">
                    <label id="repairAdvisorLabel" class="required">维修顾问：</label>
                    <input id="repairAdvisor"/>
                </div>
                <div class="input-item">
                    <label id="repairTypeLabel" class="required">维修类型：</label>
                    <input id="repairType"/>
                </div>
                <div class="input-item">
                    <label id="orgLabel" class="required">委修单位：</label>
                    <input id="org" disabled="disabled" value="@Model.CompanyName" class="k-textbox"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-item">
                    <label class="required verticalAlignTop">委修描述：</label>
                    <textarea disabled="disabled" id="customerDescription">@Model.CustomerDescription</textarea>
                </div>
                <div class="input-item">
                    <label class="required verticalAlignTop">维修说明：</label>
                    <textarea disabled="disabled" id="repairDescription">@Model.RepairDescription</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-item">
                    <label class="required verticalAlignTop">备注：</label>
                    <textarea disabled="disabled" id="remark">@Model.Remark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <span>维修明细</span>
        </div>
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">
                    <span>维修项目&nbsp;<label class="badge badge-success">￥<span id="totalRepairItemMoney">0.00</span> &nbsp;(<span id="totalRepairItemCount">0</span>项)</label></span>
                </li>
                <li>
                    <span>预估用料&nbsp;<label class="badge badge-info">￥<span id="totalEstimatePartsMoney">0.00</span>&nbsp;(<span id="totalEstimatePartsCount">0</span>项)</label></span>
                </li>
            </ul>
            <div>
                <div id="repairItemGrid"></div>
            </div>
            <div>
                <div id="estimatePartsGrid"></div>
            </div>
        </div>
    </div>
</div>
<script id="carComboxHeaderTemp" type="text/x-kendo-template">
    <div id="comboxHeaderBox">
        <span>车牌号</span>
        <span>车型</span>
        <span>客户</span>
    </div>
</script>
<script id="carComboxTemp" type="text/x-kendo-template">
    <div class="comboxItem">
        <span>#: PlateNum #</span>
        <span>#: BrandName ##: SeriesName #</span>
        <span>#: CustomerName #</span>
    </div>
</script>
<script id="repairItemGridToolBarTemp" type="text/x-kendo-template">
    <div>
        <button onclick="addRepairItem();" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
    </div>
</script>
<script id="estimatePartsGridToolBarTemp" type="text/x-kendo-template">
    <button onclick="addEstimatePartsWindow();" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
</script>
<script id="repairItemOptionTemp" type="text/x-kendo-template">
    <span class="option-box"><button class="k-button k-button-icontext" onclick="removeRepairItem(this);"><i class="fa fa-times red"></i></button></span>
</script>
<script id="estimatePartsOptionTemp" type="text/x-kendo-template">
    <span class="option-box"><button class="k-button k-button-icontext" onclick="removeEstimateParts(this);"><i class="fa fa-times red"></i></button></span>
</script>
<script>
    $("#btn_edit").toggle(@Json.Encode(Model.ServiceBookingState == ServiceBookingState.待接车));
    $("#btn_turnToRepair").toggle(@Json.Encode(Model.ServiceBookingState == ServiceBookingState.待接车));
</script>
<script>
    var totalRepairItemMoney = 0.00;
    var totalRepairItemCount = 0;
    var totalEstimatePartsMoney = 0.00;
    var totalEstimatePartsCount = 0;
    var tempRepairItems =@Html.Raw(JsonConvert.SerializeObject(Model.ServiceRepairItem));
    var tempEstimateParts=@Html.Raw(JsonConvert.SerializeObject(Model.EstimateRepairParts));
    var repairItems = [];
    var estimateParts = [];
    for (var i = 0; i < tempRepairItems.length; i++) {
        repairItems.push({
            RepairItemId: tempRepairItems[i].RepairItemId,
            SerNum: tempRepairItems[i].RepairItemSerNo,
            Name: tempRepairItems[i].RepairItemName,
            WorkHour: tempRepairItems[i].WorkHour,
            Price: tempRepairItems[i].Price,
            ServiceAccountId: tempRepairItems[i].ServiceAccountTypeId,
            ServiceAccountName: tempRepairItems[i].ServiceAccountTypeName,
            Description:tempRepairItems[i].Description
        });
    }
    for (var j = 0; j < tempEstimateParts.length; j++) {
        estimateParts.push({
            PartsCode: tempEstimateParts[j].PartsCode,
            PartsId: tempEstimateParts[j].PartsId,
            PartsName: tempEstimateParts[j].PartsName,
            Count: tempEstimateParts[j].Count,
            MaxCount: tempEstimateParts[j].MaxCount,
            Price: tempEstimateParts[j].Price,
            WarehouseName: tempEstimateParts[j].WarehouseName,
            ServiceAccountTypeName: tempEstimateParts[j].ServiceAccountTypeName,
            ServiceAccountTypeId: tempEstimateParts[j].ServiceAccountTypeId
        });
    }
    var defaultAccountType = {};
    $.ajax({
        url: "@Url.Action("ServiceAccountType_DropDownListDataSource")",
        success: function(res) {
            defaultAccountType = res[0];
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#chooseCar").kendoComboBox({
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("Car_ComboBoxDataSource")",
                        data: function (){
                            return {
                                keyword:$("#chooseCar").data("kendoComboBox").text().trim()
                            }
                        }
                    }
                }
            },
            value:"@Model.CarId",
            dataTextField: "PlateNum",
            dataValueField: "Id",
            headerTemplate:$("#carComboxHeaderTemp").html(),
            template: $("#carComboxTemp").html(),
            noDataTemplate: "未查询到匹配的车辆",
            change: function (e) {
                var item = this.dataItem();
                $("#carFullName").html(item ? item.FullName : "");
                $.ajax({
                    url: "@Url.Action("GetCustomerInfo")",
                    data: {
                        customerId:item.CustomerId
                    },
                    success: function(res) {
                        $("#contactName").val(res.ContactName || res.Name);
                        $("#contactPhone").val(res.MobilePhone || res.FixPhone);
                        $("#address").val(res.Address);
                    }
                });
            },
            dataBound: function() {
                var item = this.dataItem();
                $("#carFullName").html(item?item.FullName:"");
            }
        }).data("kendoComboBox").enable(false);
        $("#serviceRepairTime").kendoDateTimePicker({
            format: "yyyy/MM/dd HH:mm",
            timeFormat: "HH:mm",
            value:"@Model.ServiceRepairTime"
        }).data("kendoDateTimePicker").enable(false);
        $("#repairAdvisor").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairAdvisor_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.ServiceAdvisorId"
        }).data("kendoDropDownList").enable(false);
        $("#repairType").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url:"@Url.Action("RepairType_DropDownListDataSource")"
                    }
                }
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value:"@Model.RepairTypeId"
        }).data("kendoDropDownList").enable(false);
        $("#tabStrip").kendoTabStrip();
        $("#repairItemGrid").kendoGrid({
            dataSource: {
                data: repairItems,
                schema: {
                    fields: {
                        WorkHour: { type: "number" },
                        Price: {type:"number"}
                    }
                }
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            cellClose: function (e) {
                if (e.model.WorkHour < 0) {
                    e.model.Count = 0;
                }
                if (e.model.Price<0) {
                    e.model.Price = 0;
                }
                refreshLabelInfo();
            },
            columns: [
                {
                    field: "SerNum",
                    title: "项目编码",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "Name",
                    title: "项目名称",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "WorkHour",
                    headerTemplate:"<span title='点击行可编辑'>工时<i class='fa fa-edit green'></i><span>"
                },
                {
                    field: "Price",
                    headerTemplate:"<span title='点击行可编辑'>单价<i class='fa fa-edit green'></i><span>"
                },
                {
                    field: "ServiceAccountName",
                    headerTemplate:"<span title='点击行可编辑'>结算方式<i class='fa fa-edit green'></i><span>",
                    editor: function (container, options) {
                        console.log(container);
                        console.log(options);
                        var input = $("<input/>");
                        input.appendTo(container);
                        input.kendoDropDownList({
                            dataSource: {
                                transport: {
                                    read: {
                                        url:"@Url.Action("ServiceAccountType_DropDownListDataSource")"
                                    }
                                }
                            },
                            dataTextField: "Name",
                            dataValueField: "Id",
                            value:options.model.ServiceAccountTypeId,
                            change: function(e) {
                                var item = this.dataItem();
                                options.model.ServiceAccountId = item.Id;
                                options.model.ServiceAccountName = item.Name;
                            }
                        });
                    }
                },
                {
                    field: "Description",
                    title: "备注"
                }
            ]
        });
        $("#estimatePartsGrid").kendoGrid({
            dataSource: {
                data: estimateParts
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            cellClose: function (e) {
                if (e.model.Count > e.model.MaxCount) {
                    e.model.Count = e.model.MaxCount;
                }
                if (e.model.Count < 1) {
                    e.model.Count = 1;
                }
                if (e.model.Price<0) {
                    e.model.Price = 0;
                }
                if (e.container[0].cellIndex == 3) {
                    e.container[0].nextSibling.nextSibling.innerHTML = e.model.Price * e.model.Count;
                } else if(e.container[0].cellIndex == 4){
                    e.container[0].nextSibling.innerHTML = e.model.Price * e.model.Count;
                }
                refreshLabelInfo();
            },
            columns: [
                
                {
                    field: "PartsCode",
                    title: "配件编码",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "PartsName",
                    title: "配件名称",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "Price",
                    headerTemplate:"<span title='点击行可编辑'>单价<i class='fa fa-edit green'></i><span>"
                },
                {
                    field: "Count",
                    headerTemplate:"<span title='点击行可编辑'>数量<i class='fa fa-edit green'></i><span>"
                },
                {
                    template: function(item) {
                        return item.Price * item.Count;
                    },
                    title: "总金额",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "WarehouseName",
                    title: "库房",
                    editable: function() {
                        return false;
                    }
                },
                {
                    field: "ServiceAccountTypeName",
                    headerTemplate: "<span title='点击行可编辑'>结算方式<i class='fa fa-edit green'></i><span>",
                    editor: function (container, options) {
                        console.log(container);
                        console.log(options);
                        var input = $("<input/>");
                        input.appendTo(container);
                        input.kendoDropDownList({
                            dataSource: {
                                transport: {
                                    read: {
                                        url:"@Url.Action("ServiceAccountType_DropDownListDataSource")"
                                    }
                                }
                            },
                            dataTextField: "Name",
                            dataValueField: "Id",
                            value:options.model.ServiceAccountTypeId,
                            change: function(e) {
                                var item = this.dataItem();
                                options.model.ServiceAccountTypeId = item.Id;
                                options.model.ServiceAccountTypeName = item.Name;
                            }
                        });
                    }
                }
            ]
        });
        refreshLabelInfo();
        //转接车
        $("#btn_turnToRepair").click(function () {
            $.ajax({
            url: "@Url.Action("TurnToRepair")",
            type: "POST",
            dataType: "json",
            data: {
                serviceBookingId: "@Model.Id"
            },
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "question",
                        title: "成功转接车",
                        text: "跳转到维修页面？",
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '跳转',
                        cancelButtonText: "取消"
                    }).then(function(result) {
                        if (result.value) {
                            window.location.href= "@Url.Action("Edit","RepairManagement")"+"?serviceRepairId="+res.Data.ServiceRepairId;
                        } else {
                            window.location.reload();
                        }
                    });
                } else {
                    swal({
                        type: "error",
                        text: res.Msg,
                        confirmButtonText: '知道了'
                    });
                }
            }
        });
        });
        //编辑
        $("#btn_edit").click(function () {
            window.location.href = "@Url.Action("Update",new{serviceBookingId = Model.Id})";
        });
        //返回
        $("#btn_back").click(function() {
            window.history.back();
        });
    });
</script>
<script>
    function addRepairItem() {
        $("body").append("<div id='addRepairItemWindow'></div>");
        var window = $("#addRepairItemWindow").kendoWindow({
            title: "添加维修项目",
            width: "500px",
            height: "300px",
            content: "@Url.Action("AddRepairItem_PartialView")",
            visible: false,
            resizable:false,
            modal: true,
            close: function() {
                this.destroy();
            }
        });
        window.data("kendoWindow").center().open();
    }
    function addEstimatePartsWindow() {
        $("body").append("<div id='addEstimatePartsWindow'></div>");
        var window = $("#addEstimatePartsWindow").kendoWindow({
            title: "添加预估料",
            width: "1400px",
            height: "600px",
            content: "@Url.Action("AddEstimateParts_PartialView")",
            visible: false,
            resizable:false,
            modal: true,
            close: function() {
                this.destroy();
            }
        });
        window.data("kendoWindow").center().open();
        var grid = $("#estimatePartsGrid").data("kendoGrid");
        var items = grid.items();
        estimateParts = [];
        for (var i = 0; i < items.length; i++) {
            var item = grid.dataItem(items[i]);
            estimateParts.push({
                PartsCode: item.PartsCode,
                PartsId: item.PartsId,
                PartsName: item.PartsName,
                Count: item.Count,
                MaxCount: item.MaxCount,
                Price: item.Price,
                WarehouseName: item.WarehouseName,
                ServiceAccountTypeName: item.ServiceAccountTypeName,
                ServiceAccountTypeId: item.ServiceAccountTypeId
            });
        }
    }

    function removeRepairItem(_this) {
        var grid = $("#repairItemGrid").data("kendoGrid");
        var repairItem = grid.dataItem($(_this).parent().parent().parent());
        for (var i = 0; i < repairItems.length; i++) {
            if (repairItem.SerNum == repairItems[i].SerNum) {
                repairItems.splice(i, 1);
                grid.dataSource.remove(repairItem);
                break;
            }
        }
        refreshLabelInfo();
    }

    function removeEstimateParts(_this) {
        var grid = $("#estimatePartsGrid").data("kendoGrid");
        var item = grid.dataItem($(_this).parent().parent().parent());
        for (var i = 0; i < estimateParts.length; i++) {
            if (item.PartsCode == estimateParts[i].PartsCode) {
                estimateParts.splice(i, 1);
                grid.dataSource.remove(item);
                break;
            }
        }
        refreshLabelInfo();
    }

    function refreshLabelInfo() {
        totalRepairItemMoney = 0.00;
        totalRepairItemCount = 0;
        totalEstimatePartsMoney = 0.00;
        totalEstimatePartsCount = 0;
        var grid1 = $("#repairItemGrid").data("kendoGrid");
        var items1 = grid1.items();
        for (var i = 0; i < items1.length; i++) {
            var item1 = grid1.dataItem(items1[i]);
            totalRepairItemMoney += item1.Price * item1.WorkHour;
            totalRepairItemCount++;
        }
        var grid2 = $("#estimatePartsGrid").data("kendoGrid");
        var items2 = grid2.items();
        for (var j = 0; j < items2.length; j++) {
            var item2 = grid2.dataItem(items2[j]);
            totalEstimatePartsMoney += item2.Price * item2.Count;
            totalEstimatePartsCount++;
        }

        $("#totalRepairItemMoney").html(totalRepairItemMoney);
        $("#totalRepairItemCount").html(totalRepairItemCount);
        $("#totalEstimatePartsMoney").html(totalEstimatePartsMoney);
        $("#totalEstimatePartsCount").html(totalEstimatePartsCount);
    }
</script>

